.notification {
  color: #2b7515;
  background: #eeffda;
  border: 3px solid #617c42;
  font-size: x-large;
  border-radius: 5px;
}

.error {
  color: #e7080c;
  background: #969696;
  border: 3px solid #f05656;
  font-size: x-large;
  border-radius: 5px;
}
